@tailwind components;
@tailwind base;
@tailwind utilities;

.internal-landing-card-green-bg {
  background: linear-gradient(85.22deg,
      #00ef8b -26.3%,
      rgba(0, 239, 139, 0.566845) 24.91%,
      rgba(0, 239, 139, 0.566845) 24.92%,
      rgba(193, 240, 220, 0) 91.91%);
}

.bg-gradient-home {
  background-image: url(../../assets/home.svg);
}

.bg-gradient-home-br {
  background-image: url(../../assets/home.svg);
  background-position: right bottom;
}

.bg-gradient-catalog-1 {
  position: absolute;
  top: 100px;
  left: 10%;
  right: -39.76%;
  bottom: -70.09%;
  
  background: #F77D65;
  filter: blur(33px);
  transform: matrix(-1, -0.03, 0.58, -0.81, 0, 0);
  opacity: 0.1;
  z-index: 0;
}

.bg-gradient-catalog-2 {
  position: absolute;
  left: 50%;
  right: 8%;
  top: 100px;
  bottom: -70.09%;
  
  background: #3B3CFF;
  filter: blur(42px);
  opacity: 0.1;
  transform: matrix(-1, -0.03, 0.58, -0.81, 0, 0);
  z-index: 0;
}


@font-face {
  font-family: 'Acumin Pro';
  src: local('Acumin Pro'),
    url(../../assets/fonts/acumin-pro/Acumin-RPro.otf) format('opentype');
}

@font-face {
  font-family: 'Acumin Pro';
  src: local('Acumin Pro'),
    url(../../assets/fonts/acumin-pro/Acumin-RPro.otf) format('opentype');
  font-style: italic;
}

@font-face {
  font-family: 'Acumin Pro';
  src: local('Acumin Pro'),
    url(../../assets/fonts/acumin-pro/Acumin-BdPro.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'),
    url(../../assets/fonts/termina/Termina-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'),
    url(../../assets/fonts/termina/Termina-Bold.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'),
    url(../../assets/fonts/termina/Termina-Heavy.otf) format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url(../../assets/fonts/ibm-plex/IBMPlexMono-Regular.ttf) format('truetype');
}

.font-display {
  font-family: Termina;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00ee8a;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #00ee8a;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.loader:after {
  animation-delay: 0.5s
}
@keyframes rotate {
  100% {transform: rotate(360deg) translate(30px)}
}
