@tailwind components;
@tailwind base;
@tailwind utilities;

.internal-landing-card-green-bg {
  background: linear-gradient(85.22deg,
      #00ef8b -26.3%,
      rgba(0, 239, 139, 0.566845) 24.91%,
      rgba(0, 239, 139, 0.566845) 24.92%,
      rgba(193, 240, 220, 0) 91.91%);
}

.bg-gradient-home {
  background-image: url(../../assets/home.svg);
}

.bg-gradient-home-br {
  background-image: url(../../assets/home.svg);
  background-position: right bottom;
}

.bg-gradient-catalog-1 {
  position: absolute;
  top: 100px;
  left: 10%;
  right: 50%;
  bottom: -70.09%;
  background: #F77D65;
  filter: blur(33px);
  opacity: 0.1;
  z-index: 0;
  rotate: 10deg;
}

.bg-gradient-catalog-2 {
  position: absolute;
  left: 40%;
  right: 8%;
  top: 100px;
  bottom: -70.09%;
  rotate: 10deg;
  background: #3B3CFF;
  filter: blur(42px);
  opacity: 0.1;
  z-index: 0;
}


@font-face {
  font-family: 'Acumin Pro';
  src: local('Acumin Pro'),
    url(../../assets/fonts/acumin-pro/Acumin-RPro.otf) format('opentype');
}

@font-face {
  font-family: 'Acumin Pro';
  src: local('Acumin Pro'),
    url(../../assets/fonts/acumin-pro/Acumin-RPro.otf) format('opentype');
  font-style: italic;
}

@font-face {
  font-family: 'Acumin Pro';
  src: local('Acumin Pro'),
    url(../../assets/fonts/acumin-pro/Acumin-BdPro.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'),
    url(../../assets/fonts/termina/Termina-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'),
    url(../../assets/fonts/termina/Termina-Bold.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'),
    url(../../assets/fonts/termina/Termina-Heavy.otf) format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url(../../assets/fonts/ibm-plex/IBMPlexMono-Regular.ttf) format('truetype');
}

.font-display {
  font-family: Termina;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00ee8a;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: #00ee8a;
  transform: rotate(0deg) translate(30px);
  animation: rotate 1s ease infinite;
}
.loader:after {
  animation-delay: 0.5s
}
@keyframes rotate {
  100% {transform: rotate(360deg) translate(30px)}
}

.md h1 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  color: #000;
  margin-bottom: 32px;
  padding-top: 32px;
}

.md h2 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 42px;
  color: #000;
  padding-top: 32px;
  padding-bottom: 24px;
}

.md h3 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-top: 32px;
  margin-bottom: 24px;
}

.md p {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin-top: 32px;
  margin-bottom: 32px;
}

.md a {
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: blue;
  margin-top: 8px;
  margin-bottom: 8px;
}

.md pre {
  background-color: #fff;
  margin-top: 24px;
}

.md ol {
  counter-reset: item;
  list-style-type: none;
}

.md ol li {
  display: block;
  margin-top: 24px;
}

.md ol li:before {
  content: counter(item) ". ";
  counter-increment: item;
}

.md ol{
  margin-left:10px;
}

.md ol ol{
  margin-left:15px;
}

.md ol ol ol{
  margin-left:20px;
}

.md li p {
  margin-bottom: 0px;
  margin-top: 0px;
}

.md code {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  line-height: 20px;
  color: #EB5757;
  background-color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
}
