/* You can add global styles to this file, and also import other style files */
/* TODO: Remove this once you figure out how to port over color.css from storybook */
@tailwind components;
@tailwind base;
@tailwind utilities;

.internal-landing-card-green-bg {
  background: linear-gradient(85.22deg,
      #00ef8b -26.3%,
      rgba(0, 239, 139, 0.566845) 24.91%,
      rgba(0, 239, 139, 0.566845) 24.92%,
      rgba(193, 240, 220, 0) 91.91%);
}

.bg-gradient-home {
  background-image: url(./assets/home.svg);
}

@font-face {
  font-family: 'Acumin Pro';
  src: local('Acumin Pro'),
    url(./assets/fonts/acumin-pro/Acumin-RPro.otf) format('opentype');
}

@font-face {
  font-family: 'Acumin Pro';
  src: local('Acumin Pro'),
    url(./assets/fonts/acumin-pro/Acumin-RPro.otf) format('opentype');
  font-style: italic;
}

@font-face {
  font-family: 'Acumin Pro';
  src: local('Acumin Pro'),
    url(./assets/fonts/acumin-pro/Acumin-BdPro.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'),
    url(./assets/fonts/termina/Termina-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'),
    url(./assets/fonts/termina/Termina-Bold.otf) format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Termina';
  src: local('Termina'),
    url(./assets/fonts/termina/Termina-Heavy.otf) format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url(./assets/fonts/ibm-plex/IBMPlexMono-Regular.ttf) format('truetype');
}

.text-h1 {
  @apply font-display text-5xl font-bold leading-[3.5rem] md:text-7xl md:leading-[5rem];
}

.text-h2 {
  @apply font-display text-2xl font-bold leading-[2.25rem] md:text-4xl md:leading-[2.375rem];
}

.text-h3 {
  @apply font-display text-2xl font-extrabold leading-[2.25rem] md:text-4xl md:leading-[2.375rem];
}

.text-h4 {
  @apply font-display text-xl font-bold leading-[2rem] md:text-2xl md:leading-[2.5rem];
}

.text-h5 {
  @apply text-xl font-bold leading-[2rem] md:text-2xl md:font-semibold md:leading-[2rem];
}

.text-h6 {
  @apply text-xl font-semibold leading-[2rem];
}